# All files require review from either:
* @dayadi @fithubadiwibowo

## Assign specific reviewers for specific directories to:
android @dayadi
handlers @dayadi
helpers @dayadi
ios @dayadi
scripts @dayadi