{
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "none",
    "printWidth": 80,
    "arrowParens": "always",
    "bracketSpacing": true,
    "singleAttributePerLine": true
}
